


<div class="banner">
    <div class="owl-carousel owl-theme anime-carousel">
        <% slider.forEach(item => { %>
            <div class="item">
                <div class="carousel__item">
                    <img class="carousel-out__img" src="<%= item.kino.image %> " alt="">
                    <div class="opacity__banner"></div>

                    <div class="carousel-text-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <% if(lang==='uz' ){ %>
                                        <a  class="banner__link" href="/kino/<%= item.kino._id %>">
                                            <%= item.kino.name.uz %>
                                        </a>
                                    <% } %>
                                    <%  if(lang==='ru' ){ %>
                                        <a  class="banner__link" href="/kino/<%= item.kino._id %>">
                                            <%= item.kino.name.ru %>
                                        </a>
                                    <% } %>
                                    <%  if(lang=='undifined' ){ %>
                                        <a  class="banner__link" href="/kino/<%= item.kino._id %>">
                                            <%= item.kino.name.uz %>
                                        </a>
                                    <% } %>
                                    
                                    <p>
                                        <% if(lang==='uz' ){ %>
                                            <%= item.kino.description.uz %>
                                        <% } %>
                                        <%  if(lang==='ru' ){ %>
                                            <%= item.kino.description.ru %>
                                        <% }%>
                                        <%  if(lang=='undifined' ){ %>
                                            <%= item.kino.description.uz %>
                                        <% } %>
                                    </p>
                                    <div class="banner-stars">
                                        <% if(item.kino.rating===1 ){ %>
                                            <span><i class="fa fa-star __gold"></i></span>
                                        <% } %>
                                        <% if(item.kino.rating===2 ){ %>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                        <% } %>
                                        <% if(item.kino.rating===3 ){ %>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                        <% } %>
                                        <% if(item.kino.rating===4 ){ %>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                        <% } %>
                                        <% if(item.kino.rating===5 ){ %>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                        <% } %>
                                        
                                    </div>
                                    <div class="carousel-inner">
                                        <button class="carousel-click click__left" type="button"><i class="fa fa-angle-left"></i></button>
                                        <button class="carousel-click click__right" type="button"><i class="fa fa-angle-right"></i></button>
                                        <div class="owl-carousel owl-theme banner-inner-carousel">
                                            <% item.kino.screens.thumb.forEach(screen_item => { %>
                                                <div class="item">
                                                    <div class="sm__item">
                                                        <img src="<%= screen_item %>" alt="">
                                                    </div>
                                                </div>
                                            <%}) %>
                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="banner-right-img">
                                        <div class="__img">
                                            <img src="<%= item.kino.screens.original[0] %>" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
        
        
    </div>
</div>
<div class="news-home">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1 class="title__z"><i class="fa fa-angle-right"></i> Yangiliklar</h1>
            <a href="/news/all" >Barchasi ></a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-border news-first">
                    <img class="back_korona" src="img/back_korona.png" alt="">
                    <div class="title-top">
                        <h2>H.U.M</h2>
                        <img src="img/korona.png" alt="">
                    </div>
                    <ul>
                        <li>1. Haqida</li>
                        <li>2. Umumiy</li>
                        <li>3. Ma`lumot</li>
                        <li>4. Yangi animelar haqida ma`lumotlar</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box-border">
                    <video controls class="home__video" src="<%= oneKino[0].video%>"></video>
                </div>
            </div>
            <% news.forEach(item => { %>
            <div class="col-md-4">
                <a href="/news/<%= item._id %>">
                    <div class="box-border news__item">
                        <img src="<%= item.image %>" alt="">
                        <div class="opa"></div>
                        <div class="news__item__title">
                            <h3>Yangiliklar</h3>
                            <% if(lang === "uz"){ %>
                                <h4><%= item.name.uz%></h4>
                            <% } %>
                            <% if(lang === "ru"){ %>
                                <h4><%= item.name.ru%></h4>
                            <% } %>
                            <% if(lang == "undifined"){ %>
                                <h4><%= item.name.uz%></h4>
                            <% } %>
                        </div>
                    </div>
                </a>    
            </div>
            <% }) %>
        </div>
    </div>
</div>
<div class="news-home">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1 class="title__z"><i class="fa fa-angle-right"></i> Seriallar</h1>
            <a href="/season/all" >Barchasi ></a>
        </div>
        <div class="row">
            <% serial.forEach(item => { %>
            <div class="col-md-3">
                <a href="/serial/<%= item._id %>">
                    <div class="box-border news__item">
                        <img src="<%= item.image %>" alt="">
                        <div class="opa"></div>
                        
                    </div>
                    <div class="news__item__title2">
                        <% if(lang === "uz"){ %>
                            <h4><%= item.name.uz%></h4>
                        <% } %>
                        <% if(lang === "ru"){ %>
                            <h4><%= item.name.ru%></h4>
                        <% } %>
                        <% if(lang == "undifined"){ %>
                            <h4><%= item.name.uz%></h4>
                        <% } %>
                    </div>
                </a>    
            </div>
            <% }) %>
        </div>
    </div>
</div>
<div class="tab-animes">
    <div class="container">
        <div class="tab-links">
            <ul>
                <% category.forEach((element, index) => { %>

                    <li <% if(index == 0) { %> class="link__active" <% } %>>
                        <%if(lang === "uz") { %>
                            <%= element.nameuz %>
                        <% } %>
                        <%if(lang === "ru") { %>
                            <%= element.nameru %>
                        <% } %>
                        <%if(lang == "undefined") { %>
                            <%= element.nameuz %>
                        <% } %>
                    </li>
                    
                <% }); %> 
                
            </ul>
        </div>
        <div class="tab-content">

            <% sortKino.forEach((element, index) => { %>
                <aside <% if(index == 0) { %> class="__active" <% } %> >
                    <div class="tab-inner-box">
                        <% element.forEach(item => { %>
                            
                                <div class="__item">
                                    <a href="/kino/<%= item._id %>">
                                        <div class="img__in">
                                            <div class="opa"></div>
                                            <img src="<%= item.image %>" alt="">
                                        </div>
                                        <h3>
                                            <%if ( lang === "uz" ) { %>
                                                <%= item.name.uz %>
                                            <% } %> 
                                            <%if ( lang === "ru" ) { %>
                                                <%= item.name.ru %>
                                            <% } %> 
                                            <%if ( lang == "undefined" ) { %>
                                                <%= item.name.uz %>
                                            <% } %> 
                                        </h3>
                                    </a>  
                                </div>
                             
                        <% }); %>
                    </div>
                </aside>
            <% }); %>
        </div>
    </div>
</div>


<script></script>