<% if (slider === '') { %>
    <div class="banner">
        <div class="owl-carousel owl-theme anime-carousel">
            <div class="item" style="display: block;">
                <div class="carousel__item">
                    <img class="carousel-out__img" src="/img/banner_img.png" alt="">
                    <div class="opacity__banner"></div>
            
                    <div class="carousel-text-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    
                                        <a  class="banner__link" href="">
                                              Kinoni nomi boladi
                                        </a>
                                    
                                    <p>
                                        Kinoni description bomadi
                                    </p>
                                    <div class="banner-stars">
                                        
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                            <span><i class="fa fa-star __gold"></i></span>
                                        
                                    </div>
                                    <div class="carousel-inner">
                                        <button class="carousel-click click__left" type="button"><i class="fa fa-angle-left"></i></button>
                                        <button class="carousel-click click__right" type="button"><i class="fa fa-angle-right"></i></button>
                                        <div class="owl-carousel owl-theme banner-inner-carousel">
                                                <div class="item">
                                                    <div class="sm__item">
                                                        <img src="/img/banner_img.png" alt="Kinoni rasmi boladi">
                                                    </div>
                                                </div>
                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="banner-right-img">
                                        <div class="__img">
                                            <img src="/img/banner_img.png" alt="Kinoni rasmi boladi">
                                            <img src="/img/banner_img.png" alt="Kinoni rasmi boladi">
                                            <img src="/img/banner_img.png" alt="Kinoni rasmi boladi">
                                            <img src="/img/banner_img.png" alt="Kinoni rasmi boladi">
                                            <img src="/img/banner_img.png" alt="Kinoni rasmi boladi">
                                            <img src="/img/banner_img.png" alt="Kinoni rasmi boladi">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } else{%>
    <div class="banner">
        <div class="owl-carousel owl-theme anime-carousel">
        <% for (let item of slider) {%>
            
            
            
                    <div class="item">
                        <div class="carousel__item">
                            
                            <img class="carousel-out__img" style="display: block;" src="http://cdn.amediatv.uz<%= item.serial.image %>" alt="">



                            
                            <!-- http://cdn.amediatv.uz//public/uploads/cinema/org/eb2e5882a6c0ea6108cb07f58c5fb976.jpg -->

                            
                            <div class="opacity__banner"></div>
                            <div class="carousel-text-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            
        
        
                                            <% if(lang==='uz' ){ %>
                                                <a  class="banner__link" href="/kino/<%= item.serial._id %>">
                                                    <%= item.serial.name.uz %>
                                                </a>
                                            <% } %>
                                            <%  if(lang==='ru' ){ %>
                                                <a  class="banner__link" href="/kino/<%= item.serial._id %>">
                                                    <%= item.serial.name.ru %>
                                                </a>
                                            <% } %>
                                            <%  if(lang==undefined ){ %>
                                                <a  class="banner__link" href="/kino/<%= item.serial._id %>">
                                                    <%= item.serial.name.uz %>
                                                </a>
                                            <% } %>
                                            
                                            <p>
                                                <% if(lang==='uz' ){ %>
                                                    <%= item.serial.description.uz %>
                                                <% } %>
                                                <%  if(lang==='ru' ){ %>
                                                    <%= item.serial.description.ru %>
                                                <% }%>
                                                <%  if(lang==undefined ){ %>
                                                    <%= item.serial.description.uz %>
                                                <% } %>
                                            </p>
                                            <div class="banner-stars">
                                                <% if(item.serial.rating===1 ){ %>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                <% } %>
                                                <% if(item.serial.rating===2 ){ %>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                <% } %>
                                                <% if(item.serial.rating===3 ){ %>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                <% } %>
                                                <% if(item.serial.rating===4 ){ %>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                <% } %>
                                                <% if(item.serial.rating===5 ){ %>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                <% } %>
                                                
                                            </div>
                                            <div class="carousel-inner">
                                                <button class="carousel-click click__left" type="button"><i class="fa fa-angle-left"></i></button>
                                                <button class="carousel-click click__right" type="button"><i class="fa fa-angle-right"></i></button>
                                                <div class="owl-carousel owl-theme banner-inner-carousel">
                                                    <% item.serial.screens.thumb.forEach(screen_item => { %>
                                                        <div class="item">
                                                            <div class="sm__item">
                                                                <img src="http://cdn.amediatv.uz<%= screen_item %>" alt="">
                                                            </div>
                                                        </div>
                                                    <%}) %>
                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="banner-right-img">
                                                <div class="__img">
                                                    <img src="http://cdn.amediatv.uz<%= item.serial.screens.original[0] %>" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              
            


                   
        <% }%>
        </div>
    </div>
<% } %>







<div class="news-home">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1 class="title__z"><i class="fa fa-angle-right"></i> <a href="/news/all">Barcha yangiliklar</a></h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-border news-first">
                    <img class="back_korona" src="img/back_korona.png" alt="">
                    <div class="title-top">
                        <h2>H.U.M</h2>
                        <img src="img/korona.png" alt="">
                    </div>
                    <ul>
                        <li>1. Haqida</li>
                        <li>2. Umumiy</li>
                        <li>3. Ma`lumot</li>
                        <li>4. Yangi animelar haqida ma`lumotlar</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box-border">
                    <!-- ONE KINO -->
                    <iframe class="home__video" src="<%=oneKino[0].video %>"></iframe>
                </div>
            </div>



            <% if(news == '') {%> 
                <div class="col-md-4">
                    <a href="#">
                        <div class="box-border news__item">
                            <img  src="/img/banner_img.png" alt="">
                            <div class="opa"></div>
                            <div class="news__item__title">
                                <h4>Yangilik nomi ()default</h4>
                            </div>
                        </div>
                    </a>    
                </div>
               
            <%} else {%> 
                <% for(const item of news) {%> 
                    <div class="col-md-4">
                        
                        <a href="/news/<%= item._id %>">
                            <div class="box-border news__item">
                                <img src="http://cdn.amediatv.uz<%= item.image %>" alt="">
                                <div class="opa"></div>
                                <div class="news__item__title">
                                    <!-- <h3>Yangiliklar</h3> -->
                                    <% if(lang === "uz"){ %>
                                        <h4><%= item.name.uz %></h4>
                                    <% } else if(lang === "ru"){ %>
                                        <h4><%= item.name.ru %></h4>
                                    <% } else if(lang == undefined){ %>
                                        <h4><%= item.name.uz %></h4>
                                    <% } %>
                                </div>
                            </div>
                        </a>    
                    </div>
                    <% } %>
            <% } %> 

            



        </div>
    </div>
</div>









<div class="news-home">
    <div class="container">
        <div class="d-flex justify-content-between">
            <a href="/season/all" > 
                <h1 class="title__z"><i class="fa fa-angle-right"></i> Seriallar</h1>
            </a>
        </div>
        <div class="row">
            <% if(serial == '') {%> 
                <div class="col-md-3">
                    <a href="#">
                        <div class="box-border news__item">
                            <i style="z-index: 100; font-size: 20px;"  class="text-warning fas fa-crown"></i>
                            <img  src="/img/right_img.png" alt="">
                            <div class="opa"></div>
                        </div>
                        <div class="news__item__title2">
                            <h4>Serialni nomi</h4>
                        </div>
                    </a>    
                </div>
                
            <%} else {%> 
                <% serial.forEach(item => { %>
                    <div class="col-md-3">
                            <a href="/season/<%= item._id %>" style="text-align: center;" >
                                <div class="box-border news__item" style="text-align: center;">
                                    <% if(item.price == "selling") {%> 
                                        <i style="z-index: 100; font-size: 20px;"  class="text-warning fas fa-crown"></i>
                                        <% } if(item.price == "free") {%>
                                            <div></div>
                                            <% } %> 
                                    <img src="http://cdn.amediatv.uz<%= item.image %>" alt="">
                                    <div class="opa"></div>
                                    <h5 class="ml-5" style=" display: block; z-index: 10; color: white; text-decoration: none; "><%= item.num %> </h5>
                                </div>
                                <div class="news__item__title2">
                                    <% if(lang === "uz"){ %>
                                        <h4><%= item.name.uz%></h4>
                                    <% } %>
                                    <% if(lang === "ru"){ %>
                                        <h4><%= item.name.ru%></h4>
                                    <% } %>
                                    <% if(lang == undefined){ %>
                                        <h4><%= item.name.uz%></h4>
                                    <% } %>
                                </div>
                            </a> 
                    </div>
                    <% }) %>
            <% } %> 
            
        </div>
    </div>
</div>






<div class="tab-animes">
    <div class="container">
        <div class="tab-links">
            <ul>
                <% if(category == '') {%>
                    <li>Categoriya (default)</li>
                <%} else {%>
                    <% category.forEach((element, index) => { %>

                        <li <% if(index == 0) { %> class="link__active" <% } %>>
                            <%if(lang === "uz") { %>
                                <%= element.nameuz %>
                            <% } %>
                            <%if(lang === "ru") { %>
                                <%= element.nameru %>
                            <% } %>
                            <%if(lang == undefined) { %>
                                <%= element.nameuz %>
                            <% } %>
                        </li>
                        
                    <% }) %>    
                <% } %> 
                
                
            </ul>
        </div>
        
        <div class="tab-content">
            
            <% if(sortKino == '') {%>
                <div class="col-md-4">
                    <a href="#">
                        <div class="box-border news__item">
                            <img  src="/img/banner_img.png" alt="">
                            <div class="opa"></div>
                            <div class="news__item__title">
                                <h4>default</h4>
                            </div>
                        </div>
                    </a>    
                </div>
            <%} else {%> 
                <% sortKino.forEach((e, index) => { %>
                    <aside <% if(index == 0) { %> class="__active" <% } %> >
                        <div class="tab-inner-box">
                            <% e[0].forEach(item => { %>
                                
                                    <div class="__item">
                                        <a href="/kino/<%= item._id %>">
                                            <div class="img__in">
                                                <% if(item.price == "selling") {%> 
                                                    <i style="z-index: 100; font-size: 20px;"  class="text-warning fas fa-crown"></i>
                                                    <% } if(item.price == "free") {%>
                                                        <div></div>
                                                        <% } %> 
                                                <div class="opa"></div>
                                                <img src="http://cdn.amediatv.uz<%= item.image %>" alt="">
                                                
                                            </div>
                                            
                                            <h3 >
                                                <%if ( lang === "uz" ) { %>
                                                    <%= item.name.uz %>
                                                <% } %> 
                                                <%if ( lang === "ru" ) { %>
                                                    <%= item.name.ru %>
                                                <% } %> 
                                                <%if ( lang == undefined ) { %>
                                                    <%= item.name.uz %>
                                                <% } %> 
                                            </h3>
                                        </a>  
                                    </div>
                                 
                            <% }); %>
                            <% e[1].forEach(item => { %>
                                
                                <div class="__item">
                                    <a href="/kino/<%= item._id %>">
                                        <div class="img__in">
                                            <% if(item.price == "selling") {%> 
                                                <i style="z-index: 100; font-size: 20px;"  class="text-warning fas fa-crown"></i>
                                                <% } if(item.price == "free") {%>
                                                    <div></div>
                                                    <% } %> 
                                            <div class="opa"></div>
                                            <img src="http://cdn.amediatv.uz<%= item.image %>" alt="">
                                            
                                        </div>
                                        
                                        <h3 >
                                            <%if ( lang === "uz" ) { %>
                                                <%= item.name.uz %>
                                            <% } %> 
                                            <%if ( lang === "ru" ) { %>
                                                <%= item.name.ru %>
                                            <% } %> 
                                            <%if ( lang == undefined ) { %>
                                                <%= item.name.uz %>
                                            <% } %> 
                                        </h3>
                                    </a>  
                                </div>
                             
                        <% }); %>
                        </div>
                    </aside>
                <% }); %>
            <% } %> 

           
        </div>
    </div>
</div>

<script>
</script>