<div class="news-home">
 <div class="container">



  <% if(array[0] !== []) {%>
  <div class="d-flex justify-content-between">
   <h1 class="title__z"><i class="fa fa-angle-right"></i> Janga oid kinolar ro'yhati</h1>
  </div>
  <div class="row">
   <% array[0].map(item=> { %>
    <div class="col-md-3">
     
     <a href="/kino/<%= item._id %>">
      
      <div class="box-border news__item">
       <% if(item.price == "selling") {%> 
        <i style="z-index: 100; font-size: 20px;"  class="text-warning fas fa-crown"></i>
        <% } if(item.price == "free") {%>
            <div></div>
            <% } %> 
       <img src="<%= item.image %>" alt="">
       <div class="opa"></div>

      </div>
      <div class="news__item__title2">
       <% if(lang==="uz" ){ %>
        <h4>
         <%= item.name.uz%>
        </h4>
        <% } %>
         <% if(lang==="ru" ){ %>
          <h4>
           <%= item.name.ru%>
          </h4>
          <% } %>
           <% if(lang==undefined){ %>
            <h4>
             <%= item.name.uz%>
            </h4>
            <% } %>
      </div>
     </a>
    </div>
    <% }) %>
  </div>
  <% }else if(array[0] === []){ %>
   <div><p>Malumot topilmadi</p></div>
   <% } %> 




    <% if(array[1] !== []) {%>
     <div class="d-flex justify-content-between">
      <h1 class="title__z"><i class="fa fa-angle-right"></i> Janga oid seriallar ro'yhati</h1>
     </div>
     <div class="row">
      <% array[1].map(item=> { %>
       <div class="col-md-3">
        <a href="/season/<%= item._id %>">
         <div class="box-border news__item">
          <% if(item.price == "selling") {%> 
           <i style="z-index: 100; font-size: 20px;"  class="text-warning fas fa-crown"></i>
           <% } if(item.price == "free") {%>
               <div></div>
               <% } %> 
          <img src="<%= item.image %>" alt="">
          <div class="opa"></div>
   
         </div>
         <div class="news__item__title2">
          <% if(lang==="uz" ){ %>
           <h4>
            <%= item.name.uz%>
           </h4>
           <% } %>
            <% if(lang==="ru" ){ %>
             <h4>
              <%= item.name.ru%>
             </h4>
             <% } %>
              <% if(lang==undefined){ %>
               <h4>
                <%= item.name.uz%>
               </h4>
               <% } %>
         </div>
        </a>
       </div>
       <% }) %>
     </div>
      <% }else if(array[1] === []){ %>
       <div><p>Malumot topilmadi</p></div>
       <% } %>  
   












 </div>
</div>