<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

<div class="kino">
    <div class="container">
        <div class="row kino__top">
            <div class="col-md-3">
                <div class="img_left">
                    <img src="http://cdn.amediatv.uz<%= kino.image %>" alt="">
                    <div class="__bottom">
                        <% if (lang=="uz" ) { %>
                            <h3>
                                <%= kino.name.uz %>
                            </h3>
                            <% } %>
                                <% if (lang=="ru" ) { %>
                                    <h3>
                                        <%= kino.name.ru %>
                                    </h3>
                                    <% } %>
                                        <% if (lang==undefined) { %>
                                            <h3>
                                                <%= kino.name.uz %>
                                            </h3>
                                            <% } %>
                                                <div class="banner-stars">
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>
                                                    <span><i class="fa fa-star __gold"></i></span>

                                                    
                                                </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 __video">
                <iframe src="<%= kino.video %>"
                    allowfullscreen="allowfullscreen"></iframe>

            </div>
            <div class="col-md-3 mt-4">
                <h1 class="title__z"><i class="fa fa-angle-right"></i> Ma`lumotlar</h1>

                <div class="profile-info">
                    <div class="info__item">
                        <h3> <i class="fa fa-map"></i> Mamlakat:</h3>
                        <h4>
                            <%= kino.country %>
                        </h4>
                    </div>
                    <div class="info__item">
                        <h3> <i class="fa fa-user"></i> Rejissor:</h3>
                        <h4>
                            <%= kino.rejissor %>
                        </h4>
                    </div>
                    <div class="info__item">
                        <h3> <i class="fa fa-microphone"></i> Studiya:</h3>
                        <h4>
                            <%= kino.studia %>
                        </h4>
                    </div>
                    <div class="info__item">
                        <h3> <i class="fa fa-folder-open"></i> Janr:</h3>
                        <% kino.janr.forEach(element=> { %>
                            <% if ( lang=="uz" ) { %>
                                <h4>
                                    <%= element.nameuz %>
                                </h4>
                                <% } %>
                                    <% if ( lang=="ru" ) { %>
                                        <h4>
                                            <%= element.nameru %>
                                        </h4>
                                        <% } %>
                                            <% if ( lang==undefined ) { %>
                                                <h4>
                                                    <%= element.nameuz %>
                                                </h4>
                                                <% } %>
                                                    <% }); %>

                    </div>
                    <div class="info__item">
                        <h3><i class="fa fa-list"></i> Kategoriya:</h3>
                        <% kino.category.forEach(element=> { %>
                            <% if ( lang=="uz" ) { %>
                                <h4>
                                    <%= element.nameuz %>
                                </h4> /
                                <% } %>
                                    <% if ( lang=="ru" ) { %>
                                        <h4>
                                            <%= element.nameru %>
                                        </h4> /
                                        <% } %>
                                            <% if ( lang==undefined ) { %>
                                                <h4>
                                                    <%= element.nameuz %>
                                                </h4> /
                                                <% } %>
                                                    <% }); %>
                    </div>
                    <div class="info__item">
                        <h3><i class="fa fa-clock"></i> Yil:</h3>
                        <h4>
                            <%= kino.year %>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mt-2">
                <% if (!user) {%>
                    <div></div>
                    <% } else if (user.status==="user" ) {%>
                        <div></div>
                        <% }else if (user.status==="vip"  ) {%>
                            <div>
                                <a class="__download" href="<%= kino.url %>" id="download_blank"
                                    target="_blank">
                                    <i class="fa fa-download"></i> Yuklab olish
                                </a>
                            </div>
                            <% } %> 

                            <p class="mt-4">
                                <% if (lang=="uz" ) { %>
                                    <%= kino.description.uz %>
                                        <% } %>
                                            <% if (lang=="ru" ) { %>
                                                <%= kino.description.ru %>
                                                    <% } %>
                                                        <% if (lang==undefined) { %>
                                                            <%= kino.description.uz %>
                                                                <% } %>
                            </p>


                            <div class="hashtag">
                                <span># <%= kino.tags %></span>
                            </div>
                            <% if (user) { %>
                                <div class="rating">
                                    <h4>Baho bering:</h4>
                                    <form action="/rate" method="POST">
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rating" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rating" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rating" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rating" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rating" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                            <input type="hidden" name="kino" value="<%= kino._id %>">
                                            <input type="hidden" name="user" value="<%= user._id %>">
                                        </div>
                                        <button>Baholash</button>
                                    </form>
                                </div>
                                <% } %>
            </div>
        </div>
        <div class="kino-kadr pt-3">
            <h1 class="title__z"><i class="fa fa-angle-right"></i> Filmdan kadrlar</h1>

            <div class="carousel-kadr">
                <div class="owl-carousel owl-kadr owl-theme">
                    <% kino.screens.thumb.forEach(element=> { %>
                        <div class="item">
                            <div class="img-kadr" id="img-preview">
                                <img src="http://cdn.amediatv.uz<%= element %>" alt="">
                            </div>
                        </div>
                        <% }); %>


                </div>
            </div>
        </div>

        <div class="kino-kadr pt-3">
            <h1 class="title__z"><i class="fa fa-angle-right"></i> Ijodkorlar</h1>

            <div class="carousel-kadr flex-ijodkor">
                <div class="owl-carousel owl-kadr owl-theme">


                    <% for(const item of kino.tarjimon) {%>
                        <div class="__item">
                            <div class="img-pro">
                                <img style="z-index: 10" src="http://cdn.amediatv.uz<%= item.image %>" alt="">
                            </div>
                            <h4>
                                <%= item.name %>
                            </h4>
                        </div>
                    <% } %>
                    <% for(const item of kino.translator) {%>
                        <div class="__item">
                            <div class="img-pro">
                                <img style="z-index: 10" src="http://cdn.amediatv.uz<%= item.image %>" alt="">
                            </div>
                            <h4>
                                <%= item.name %>
                            </h4>
                        </div>
                    <% } %>
                   
    

                </div>
            </div>
        </div>

        <h1 class="title__z mt-3"><i class="fa fa-angle-right"></i> Izohlar</h1>
        <div class="content-comments2">
            <% if(!comment){%>
                <div class="comments__item"></div>
                <% } else if (comment){%>
                    
                    <% for(const item of comment) {%>
                        <div class="comments__item">
                            <div class="comments-top">
                                <div class="left">
                                    <div class="img">
                                        <img src="http://amediatv.uz:2000/uploads/<%= item.user.photo %>" alt="">
                                    </div>
                                    <h4>
                                        <%= item.user.name %>
                                    </h4>
                                </div>
                                <h6>
                                    <%= moment(item.date).format("DD-MM-YYYY") %>
                                </h6>
                            </div>
                            <div class="comment__p">
                                <p>
                                    <%= item.message %>
                                </p>
                            </div>




                            <div class="d-flex justify-content-end">
                                <button class="reply_button ml-3 mr-3"><i class="fa fa-reply"> </i> Javob berish</button>
                                <a href="/commentkino/<%= item._id %>"> <button class="reply_button"><i class="fa fa-eye"> </i> Muhokamalar</button></a>
                            </div>
        
                            
                            
        
        
                            <div class="reply_content none_cc">
                                <form action="/commentkino/add" method="POST">
                                    <textarea name="message" cols="10" ></textarea>
                                    <input type="hidden"  name="prevComment" value="<%= item._id %>">

                                    <% if(!user) {%> 
                                        <input type="hidden" name="userID" value="">
                                    <% } else {%> 
                                       <input type="hidden" name="userID" value="<%= user._id %>">
                                    <% } %> 
                                    <div class="d-flex justify-content-end">
                                        <button type="submit">Javob berish</button>
                                    </div>
                                </form>
                            </div>



                        </div>
                        <% } %>
                    <% } %>



        </div>
        <% if (user) { %>
            <div class="comment-send">
                <form action="/comment/kino" method="POST">
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Izoh qoldiring..."></textarea>
                    <input type="hidden" value="<%= kino._id %>" name="kinoId">
                    <input type="hidden" value="<%= user._id %>" name="user">
                    <div class="d-flex justify-content-end">
                        <button>Jo'natish</button>
                    </div>
                </form>
            </div>
            <% } %>
    </div>
</div>

<script>
    let player = new MediaElementPlayer('#player1');


</script>