<div class="news-one">
    <div class="container">
        <div class="row">
            <div class="col-md-9 pr-5">
                <div class="date-news">
                    <i class="fa fa-calendar" aria-hidden="false"></i>
                    <h6><%= moment(news.date).format("DD-MM-YYYY") %></h6>
                </div>
                <h1 class="title-news"><%= news.name.uz %></h1>
                <div class="img-news">
                    <img src="<%= news.image %>" alt>
                </div>
                <p>
                    <%= news.description.uz %>
                </p>
            

                <div class="adverstiment col-md-10 offset-1">
                    <a href="http://<%= news.videoLink %>">
                        <div class="img-news">
                            <img src="/img/banner_img.png" alt="Rasm">
                        </div>
                        
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <h1 class="title__z"><i class="fa fa-angle-right"></i> Yangiliklar</h1>

                <div class="news-home">
                    <div class="row">
                        <div class="col-12">
                            <% allNews.forEach(element => { %>
                                <a href="/news/<%= element._id %>">
                                    <div class="box-border news__item">
                                        <img src="<%= element.image %>" alt="">
                                        <div class="opa"></div>
                                        <div class="news__item__title">
                                            <h4><%= element.name.uz %></h4>
                                        </div>
                                    </div>
                                </a>
                                    
                            <% }); %>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>