<div class="modal fade my-modal" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profilni tahrirlash</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>

            <form class="mt-3 mb-5" action="<%=`/auth/detail/${user._id}?_method=PUT`%>" method="POST">
                <div class="modal-body">
                    <div class="form-auth">
                        <h4>Foydalanuvchi nomi</h4>
                        <input type="text" name="name" value="<%= user.name %>" />
                    </div>
                    <div class="form-auth">
                        <h4>Foydalanuvchi email</h4>
                        <input type="email" name="email" value="<%= user.email %>">
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade my-modal" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Balansni to'ldirish</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-auth">
                    <h4>Summa</h4>
                    <input type="number" placeholder="Summani kiriting...">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary">To'lash</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade my-modal" id="exampleModal-3" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="mt-3 mb-5" action="<%=`/auth/updatepassword/${user._id}?_method=PUT`%>" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Parolni o'zgartirish</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Yangi parolni kiriting</h4>
                    <div class="form-auth">
                        
                        <div class="password-eye">
                            <input type="password" id="password-login" name="password"
                                placeholder="Yangi parolni kiriting...">
                            <button type="button"><i class="fa fa-eye"></i><i
                                    class="fa fa-eye-slash none-eye"></i></button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-content">
                    <div class="profile__img">

                        <form action="<%=`/auth/upload/${user._id}?_method=PUT`%>" method="POST" ref='uploadForm'
                            encType="multipart/form-data"
                            style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

                            <div class="avatar-wrapper">
                                <!-- <img class="profile-pic" src="/img/insta.png"  /> -->
                                <img class="profile-pic" src="/uploads/<%= user.photo %>" alt="Rasm bor" />
                                <div class="upload-button">
                                    <i class="fa fa-arrow-circle-up"></i>
                                </div>
                                <input class="file-upload" type="file" name="photo" multiple />
                            </div>
                            <button type="submit" class="btn btn-success ml-5" style="margin: 0 auto;">
                                <i class="fas fa-check"></i> Saqlash
                            </button>
                        </form>



                    </div>

                    <div class="profile-info">
                        <div class="info__item">
                            <h3>Ismi:</h3>
                            <h4>
                                <%= user.name %>
                            </h4>
                        </div>
                        <div class="info__item">
                            <h3>Email:</h3>
                            <h4>
                                <%= user.email %>
                            </h4>
                        </div>
                        <div class="info__item">
                            <h3>ID:</h3>
                            <h4>
                                <%= user.uid %>
                            </h4>
                        </div>
                        <div class="info__item">
                            <h3>Status:</h3>
                            <h4 class="__color">
                                <%= user.status %>
                            </h4>
                        </div>
                        <div class="info__item">
                            <h3>Balans:</h3>
                            <h4 class="__color">
                                <%= user.balance %> so'm
                            </h4>
                        </div>

                        <div class="info__item">
                            <h3>Tarifning tugash sanasi:</h3>
                            <h4 class="deadline" style="color: rgb(253, 29, 29); font-weight: 700;">
                                <%= moment(user.date).format("DD-MM-YYYY")%>
                            </h4>
                        </div>
                    </div>
                    <div class="edit-actions">
                        <button data-toggle="modal" data-dismiss="modal" type="button" data-mdb-toggle="modal"
                            data-mdb-target="#exampleModal-1">Profilni tahririlash</button>
                        <button data-toggle="modal" data-dismiss="modal" type="button" data-mdb-toggle="modal"
                            data-mdb-target="#exampleModal-2">Balansni to'ldirish</button>
                        <button data-toggle="modal" data-dismiss="modal" type="button" data-mdb-toggle="modal"
                            data-mdb-target="#exampleModal-3">Parolni o'zgartirish</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-content">
                    <h2 class="title"><i class="fa fa-angle-right"></i> Tariflar</h2>

                    <div class="content-tarif">



                        <% for (let item of list) {%>
                            <div class="tarif__item">
                                <div class="tarif-top">
                                    <h3>
                                        <%= item.type %> oylik
                                    </h3>

                                </div>
                                <div class="tarif-bottom">
                                    <h4>
                                        <%= item.amount %> so'm
                                    </h4>
                                    <form action="/balance/add" method="POST">
                                        <input type="hidden" id="priceID" name="price" value="<%= item._id %>">
                                        <input type="hidden" id="userID" name="user" value="<%= user._id %>">
                                        <input type="hidden" id="statusCode" name="status" value="true">
                                        <button type="submit"> Obuna bo'lish </button>
                                    </form>
                                </div>
                            </div>
                            <% } %>




                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-content">
                    <h2 class="title"><i class="fa fa-angle-right"></i> So'nggi izohlar</h2>

                    <div class="content-comments">

                        <% for(const item of comment) {%>
                            <div class="comments__item">
                                <div class="comments-top">
                                    <div class="left">
                                        <div class="img">
                                            <img src="<%= item.image %> " alt="">
                                        </div>
                                        <h4>
                                            <%= item.kinoId.name.uz %>
                                        </h4>
                                    </div>
                                    <h6>
                                        <%= moment(item.date).format("DD-MM-YYYY") %>
                                    </h6>
                                </div>
                                <div class="comment__p">
                                    <p>
                                        <%= item.message %>
                                    </p>
                                </div>
                            </div>
                            <% } %>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>