



<div class="news-home">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1 class="title__z"><i class="fa fa-angle-right"></i> Seriallar</h1>
        </div>
        <div class="row">
            <% serial.forEach(item => { %>
            <div class="col-md-3">
                <a href="/season/<%= item._id %>">
                    <div class="box-border news__item">
                        <% if(item.price == "selling") {%> 
                            <i style="z-index: 100; font-size: 20px;"  class="text-warning fas fa-crown"></i>
                            <% } if(item.price == "free") {%>
                                <div></div>
                                <% } %> 


                        <img src="http://cdn.amediatv.uz<%= item.image %>" alt="">
                        <div class="opa"></div>
                        <h5 class="ml-5" style="margin-left: 20px; display: block; z-index: 10;text-align: center; color: white; text-decoration: none;"><%= item.num %> </h5>
                    </div>
                    <div class="news__item__title2">
                        <% if(lang === "uz"){ %>
                            <h4><%= item.name.uz%></h4>
                        <% } %>
                        <% if(lang === "ru"){ %>
                            <h4><%= item.name.ru%></h4>
                        <% } %>
                        <% if(lang == undefined){ %>
                            <h4><%= item.name.uz%></h4>
                        <% } %>
                    </div>
                </a>    
            </div>
            <% }) %>
        </div>
    </div>
</div>


