



<div class="news-home">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1 class="title__z"><i class="fa fa-angle-right"></i> Seriallar</h1>
        </div>
        <div class="row">
            <% serial.forEach(item => { %>
            <div class="col-md-3">
                <a href="/season/<%= item._id %>">
                    <div class="box-border news__item">
                        <img src="http://cdn.amediatv.uz<%= item.image %>" alt="">
                        <div class="opa"></div>
                        
                    </div>
                    <div class="news__item__title2">
                        <% if(lang === "uz"){ %>
                            <h4><%= item.name.uz%></h4>
                        <% } %>
                        <% if(lang === "ru"){ %>
                            <h4><%= item.name.ru%></h4>
                        <% } %>
                        <% if(lang == undefined){ %>
                            <h4><%= item.name.uz%></h4>
                        <% } %>
                    </div>
                </a>    
            </div>
            <% }) %>
        </div>
    </div>
</div>


